#three-sixty-wrapper1 img{
    width: 350px;
	position: absolute;
}

#three-sixty-range{
	
}

#three-sixty-wrapper5 img{
    width: 350px;
	position: absolute;
}

#three-sixty-range2{
	position: relative;
    z-index: 1;
}

.pointer-circle{
	position: relative;
	border-radius:200px;
}

.pointer{    
	position: absolute;
    z-index: 10;
}

.pointer li{
	position: relative;
    left: 40px;
    top: -40px;
    border-radius: 6px;
    width: 100px;
    min-height: 75px;
    padding: 15px;
    list-style: none;
	z-index: 9999;
}